<!--
  Generated template for the Conversations page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Conversations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let listfirebase of firebaseconversationList" (click)="itemSelected(listfirebase)">
            {{ listfirebase.user }}
   </button>
  </ion-list>
  <!--p>
  <button ion-button class="register-btn" block clear (click)="newChat()">Create New Chat</button>
  </p-->

</ion-content>