<!--
  Generated template for the Request page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request a Parking Space</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div [hidden]="totalAvailableSpaces > 0 || invalidSearch">
    <h2>I need a space starting: </h2><br>
    <ion-list *ngIf="event.startDate">
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.startDate"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
    </ion-list>
    <br>
    <h2>I can leave that space on: </h2>
    <br>
    <ion-list *ngIf="event.endDate">
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.endDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.endTime"></ion-datetime>
      </ion-item>
    </ion-list>
    <p>All times are in Local (Chicago) time</p>
    <button ion-button class="submit-btn" (click)="querySpaces()">
    <ion-label>View Available Spaces</ion-label>
  </button>
  </div>


  <div [hidden]="totalAvailableSpaces < 1 || invalidSearch">
    <ion-list>
      <ion-item ion-item *ngFor="let spot of availableSpotsStream$; ">
        <p>
          <strong>Start: </strong>{{ spot.start | date:'fullDate' }} at {{ spot.start | date:'shortTime' }}
        </p>
        <br>
        <p>
          <strong>End: </strong>{{ spot.end | date:'fullDate'}} at {{ spot.end | date:'shortTime' }}
        </p>
        <strong>Owner: </strong>{{ spot.owner }}
        <button style="float:right" ion-button color="primary" (click)="request(spot)">
            <ion-icon name="car"></ion-icon>
            Request
          </button>
      </ion-item>
    </ion-list>
    <button style="clear:both;float:left" ion-button color="secondary" (click)="reset()">
      New Search
      </button>
  </div>

  <div [hidden]="!invalidSearch">
    <p>No spots are available between {{dat_startingDT | date:'shortTime'}}, {{dat_startingDT | date:'fullDate'}} and {{dat_endingDT
      | date:'shortTime'}}, {{dat_endingDT | date:'fullDate'}}. Please refine your search and try again. </p>
    <button style="clear:both;float:left" ion-button color="secondary" (click)="reset()">
      New Search
      </button>
  </div>

</ion-content>