<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content h3adding>
<h3>latitude: {{latitude}}</h3>
<h3>longitude: {{longitude}}</h3>
<p>accuracy: {{accuracy}}</p>
<h3>altitude: {{altitude}}</h3>
<p>altitude accuracy: {{altitudeAccuracy}}</p>
<h3>heading: {{heading}}</h3>
<h3>speed: {{speed}}</h3>
<p>_____________________________</p>
<h3>latitude: {{dlatitude}}</h3>
<h3>longitude: {{dlongitude}}</h3>
<p>accuracy: {{daccuracy}}</p>
<h3>altitude: {{daltitude}}</h3>
<p>altitude accuracy: {{daltitudeAccuracy}}</p>
<h3>heading: {{dheading}}</h3>
<h3>speed: {{dspeed}}</h3>

</ion-content>
