<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <!--<img src="http://placehold.it/300x200"/> -->
      <img src="assets/img/loginScreen.png" alt="Neighborly Logo">
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Remember Me:</ion-label>
              <ion-checkbox color="dark" checked="false" name="rememberMe" [(ngModel)]="registerCredentials.rememberMe"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
  <div>
    <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
  </div>


  <button ion-button class="developer-btn" block clear (click)="goToDevMain()">Developer Main Menu</button>


</ion-content>