<!--
  Generated template for the MessageModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Chat: {{ listItems.username }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-avatar item-left>
    <img src="{{listItems.image}}">    
  </ion-avatar> 
<ion-content class="messages-container" > -->
<ion-content id="messages-container" class="mainbackgroundcolor" >
  <ion-item ion-item *ngFor="let message of target; let currUser = currentUser; let last = last" class = "message-item" class="{{ currentUser == message.fromUser ? 'from-me': 'to-me' }}">
    <p>
      <strong>{{ message.fromUser }}</strong> :
    </p>
    <ion-item class="message-item" class="{{ currentUser == message.fromUser ? 'from-me-inner': 'to-me-inner' }}" >  <!--I got this from here: http://stackoverflow.com/questions/32335101/how-to-wordwrap-a-long-string-in-ion-item -->
      {{ message.message}}
    </ion-item>
  </ion-item>
</ion-content>

<!--
<ion-footer>
  <div id="compose-container">
     <ion-item class="text-area">
     <ion-textarea class="message-input" [(ngModel)]="msg"></ion-textarea>
     </ion-item>
   </div>
 
   <div id="submit-button-container">
     <ion-item class="submit-btn">
       <button ion-button class="message-submit" (click)="transmitMsg()">Send Message</button>
     </ion-item>
   </div>

 </ion-footer>
-->

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <div style="width:100%;">
        <ion-item class="text-area">
          <ion-textarea autocomplete="true" spellcheck="true" class="message-input" [(ngModel)]="msg"></ion-textarea>
        </ion-item>
      </div>
    </ion-item>

    <ion-buttons right>
      <button style="min-width:80px;" (click)="transmitMsg()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
-->



 