page-message-modal {

    #message-content{  //I don't think this is being used -WLT
        //  max-width: 100%;
        // max-height: 100%;
        // height: auto;
        // width: auto;
        // overflow: wrap;
        // word-wrap: normal;
        // overflow-wrap: break-word;
        //padding: 14px;
        //margin: 10px;
    }

    #messages-container{  //BIG BOX
        //max-width: 100%;
        // margin-left: auto;
        // margin-right: auto;
        // max-height: 100%;
        // overflow-x: none;
        // overflow-y: scroll;
        border: 1px solid gray;
        border-radius: 16px;
        //background: #f3835d;
    }

    #message-item{ 
        // display: inline-block;
        //margin-right: 1px;
        //margin-left: 1px;
        //margin-top: 1px;
        //margin-bottom: 1px;
        margin: 20px;
        // border: clear;
        border-radius: 15px;
        // max-width: 85%;
        // max-height: 100%;
        // height: 100%;
        // width: auto;
        padding: 10px;
        // background-color: pink; 
        // overflow: auto;
        // flex: 1;
        // margin: 10px;
        //padding: 10px;
        white-space: pre-line;
    }
    .from-me {
        float: right;
        clear: both;
        border: 2px solid white;
        background-color: greenyellow;
        font-size: .5em;
        color: dimgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right:15px;
        border-radius: 30px;
        margin-right: 5px;
        margin-bottom: 2px;
        margin-left: 30px;
    }

    .from-me-inner {
        float: right;
        clear: both;
        border: 0;
        //background-color: greenyellow;
        padding: 0px;
        border-radius: 0px;
        margin: 0px;
        font-size: 2em;
        color: black;
    }

    .to-me {
        float: left;
        clear: both;
        border: 2px solid white;
        background-color: yellowgreen;
        font-size: .5em;
        color: dimgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right:15px;
        border-radius: 30px;
        margin-right: 30px;
        margin-bottom: 2px;
        margin-left: 5px;
    }

    .to-me-inner {
        float: left;
        clear: both;
        border: 0;
        padding: 0px;
        border-radius: 0px;
        margin: 0px;
        font-size: 2em;
        color: black;
    }


    .input-cover {
        position: static;
    }

    //START/////////////////////////////////////////////// compose-container
    #compose-container{
        max-width:95%;
        margin-left: auto;
        margin-right: auto;
        max-height: 20%;
        overflow: auto;
        border: none;
    }

    .text-area{
        // max-width: 85%;
        // margin: 3px;
        // overflow: auto;
        // float: left;
        //  border: 1px solid gray;
        // border-radius: 16px;
    }

    .message-input{
        // margin: 5px;
        // overflow: auto;
    }

    .message-submit{
        // margin: none;
        // background-color: dodgerblue;
        // color: white;
    }




    .submit-btn{
        // max-width: 100%;
        // max-height: 100%;
        // height: auto;
        // width: auto;
        // border: 1px solid dodgerblue;
        // border-radius: 8px;
        // background-color: dodgerblue;
        // color: dodgerblue;
        // float: left;
        // position: relative;
        // //top: 50%;
        // //transform: translateY(50%);
    }

//END/////////////////////////////////////////////// compose-container

    article{
        display: block;
    }

//Overriding ionics CSS styles:
.label-md {
    margin: 0px 0px 0px 0;   
}

.label-ios {   
    margin: 0px 0px 0px 0;   
}

.label-windows { 
    margin: 0px 0px 0px 0;   
}

p{
    margin: 0;
}






//Experimental
.talkbubble {
  position: relative;
  width: 300px;
  height: 125px;
  
  padding: 10px;
  border-radius: 5px;
  border: solid lightblue;
  background: lightblue;
}

.talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  
  border-top: 13px solid transparent;
  border-right: 26px solid lightblue;
  border-bottom: 13px solid transparent;
}

.talkbubble textarea {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  
  margin: 0;
  padding: 0;
  
  border: none;
  resize: none;
}

}
