<!--
  Generated template for the Landing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    <button ion-button (click)="goToOffer()">
      <img src='/assets/img/parking_sign.png' style="width:20px;height:20px;float:left;padding-left:-1px;padding-right:3px">
      Offer My Spot
    </button>
    <br>
    <button ion-button icon-left (click)="goToRequest()">
      <ion-icon name='car'></ion-icon>
      Find a Spot
    </button>
    <br>
    <button ion-button icon-left (click)="goToManagement()">
      <ion-icon name='briefcase'></ion-icon>
      Account Management
    </button>
    <br>
    <button ion-button icon-left (click)="goToSettings()">
      <ion-icon name='settings'></ion-icon>
      Settings
    </button>
    <br>
    <button ion-button icon-left (click)="logOut()">
      <ion-icon name='exit'></ion-icon>
      Logout
    </button>
  </p>
</ion-content>