
<ion-header>
  <ion-navbar>
    <ion-title>
      Redeem Invitation Code
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <span *ngIf="!badVersion">
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/img/loginScreen.png" alt="Neighborly Logo">
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="invite()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <p>Please enter in the invitation code sent to you below.</p><p>(and please note that it is case sensitive.)</p>
          <ion-list inset>
            <ion-item>
              <ion-input type="InvitationCode" placeholder="Invitation Code" name="InvitationCode" [(ngModel)]="invitationCredentials.invitationCode" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Redeem Invitation Code</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  </span>
  <span *ngIf="badVersion">
   <div class="badversion-parent">
     <div class="badversion-child">
       <div class="badversion-child-child">
       <p>Thank you so much for helping us test Neighborly here at Metropolitan Place. </p>
       <p> Unfortunately, the reason that you 
       are seeing this message is because the version of the program that you're running is too old. </p><p> I know, I know... you just installed it a short
       while ago.  However, because this is a test platform, we are still making changes to the database and its structure.  Therefore,
       every now and then we need to make sure that none of the previous versions are still adding moldy, yucky data to the database.</p>

       <p>The way to get rid of this message is to go to testflight or to the Google Play link and download the lastest version.</p>
       <p>Go ahead.  We'll wait.<p>

       <p>Again, thanks so much for helping!</p>
       </div>
     </div>
   </div>
 </span>


</ion-content>