    .toast-message {
      white-space: pre-line; //this was made to allow toast to be multi-lined with newline characters \n
    }
    
    page-offer {

     .reserved_spot {
       border:2px solid #ad1145;
       background: #ffbfbf;
       color: #000000;
     }

     .open_spot {
       border:2px solid #11ad45;
       background: #bfffd4;
     }

     .pending_spot{
       border:2px solid #eaba1f;
       background: #fffbbf;
     }

     .weird_spot{
       background:#ffffff;
     }

     .frame{
       border:2px solid#000000;
     }

    .box1-1 {
    //width: 300px;
    border: 2px solid #B21a1a;
    padding: 25px;
    background: #f3835d;//#D93838;
    border-radius: 25px;
    //margin: 25px;
    
     
    }

    .box1-2 {
    border: 2px solid #B21a1a;
    border-radius: 0px;
    //padding: 25px;
    //background: #D93838;

    }


}
