// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.mainbackgroundlightest {
  background: #FFB0B0;
  //background: #FFFFFF;
}

.mainbackgroundlight {
  background: #FF8585;
  //background: #FFFFFF;
}

.mainbackground {
  background: #F35E5D;
}

.mainbackgrounddark {
  background: #D93838;
}
.mainbackgrounddarkest {
  background: #B21a1a;
}

// An explanation for the alert colors (in progress)
// Happy alerts are going to be for when good things happen -> a person offers their spot, a person is accepted as a spot renter
// Danger alerts are there for bad things... like if someone cancels on you. (and also the about screen)
// Check alerts are for when there is a verification of something...like "are you sure these are the dates you want to offer your spot?"

.custom-alert-danger {
  background: #F35E5D;
}

.custom-alert-danger .alert-message {
  max-height: 600px;
  background-color: #F35E5D;
  p {
    color: white;
  }
}

.custom-alert-happy .alert-message {
  max-height: 600px;
  background-color: color($colors, happy);
  p {
    color: color($colors, happy-text);
  }
}

// .custom-alert-check .alert-wrapper {
//   max-height: 600px;
//   background-color: #8BB3F8;
//   p {
//     color: #0652D4;
//   }

.custom-alert-check .alert-message {
  max-height: 600px;
  background-color: #8BB3F8;
  p {
    color: #0652D4;
  }

}

//$alert-md-button-text-color:#FF0000;
//$alert-md-background-color:#F35E5D;
