<!--
  Generated template for the Management page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>management</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="management-box" #signupSlider>
    <div class="management-title"> Update Information as Required and Select 'Update Account'
    </div>
    <form [formGroup]="editForm">
      <p *ngIf="submitAttempt" style="color: #E6C17E; text-align: center;"> Please fill out all details accurately.
      </p>
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item [class.invalid]="!editForm.controls.firstName.valid && (editForm.controls.firstName.touched || submitAttempt)">
              <ion-label>First Name: </ion-label>
               <ion-input placeholder="First name (required)" formControlName="firstName" type="text" [(ngModel)]="currentCredentials.firstName"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.firstName.valid  && (editForm.controls.firstName.dirty || submitAttempt)">
              Please enter a valid first name.
            </p>


            <ion-item [class.invalid]="!editForm.controls.lastName.valid && (editForm.controls.lastName.dirty || submitAttempt)">
              <ion-label>Last Name: </ion-label>
              <ion-input placeholder="Last name (required)" formControlName="lastName" type="text" [(ngModel)]="currentCredentials.lastName"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.lastName.valid  && (editForm.controls.lastName.dirty || submitAttempt)">
              Please enter a valid last name.
            </p>


            <ion-item [class.invalid]="!editForm.controls.spot.valid && (editForm.controls.spot.dirty || submitAttempt)">
              <ion-label>Parking Spot: </ion-label>
              <ion-input readonly = "true" placeholder="Parking Spot Number" formControlName="spot" type="tel" [(ngModel)]="currentCredentials.spot"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.spot.valid  && !editForm.controls.spot.pending && (editForm.controls.spot.dirty || submitAttempt) && (currentCredentials.spot < 31 || currentCredentials.spot > 260)">
              Please enter a valid parking spot number (between 31-260 or >10000 for testing).
            </p>
            {{editForm.controls.spot.spotInUse}}



            <p *ngIf="editForm.controls.spot.pending">
              Checking if spot already exists in database...
            </p>

            <p *ngIf="!editForm.controls.spot.valid && !editForm.controls.spot.pending && (editForm.controls.spot.dirty || submitAttempt) && currentCredentials.spot >= 31 && currentCredentials.spot <= 260">
              Sorry, that spot is already in use! We will have multiple accounts tied to a single spot in the future. However, for now,
              only one spot per user.
            </p>


            <ion-item [class.invalid]="!editForm.controls.unit.valid && (editForm.controls.unit.dirty || submitAttempt)">
              <ion-label>Condo Unit: </ion-label>
              <ion-input placeholder="Condo Unit Number (required)" formControlName="unit" type="text" [(ngModel)]="currentCredentials.unit"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.unit.valid  && (editForm.controls.unit.dirty || submitAttempt)">
              Please enter a valid condo unit number (ex: 203).
            </p>


            <ion-item [class.invalid]="!editForm.controls.telephone.valid && (editForm.controls.telephone.dirty || submitAttempt)">
              <ion-label>Telephone: </ion-label>
              <ion-input placeholder="Phone number (optional)" formControlName="telephone" type="tel" [(ngModel)]="currentCredentials.telephone"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.telephone.valid  && (editForm.controls.telephone.dirty || submitAttempt)">
              Please enter a valid telephone number.
            </p>

            <img src="assets/svg/text_divider-central_flare.svg" onerror="this.src='your.png'">


            <ion-item [class.invalid]="!editForm.controls.insurance.valid && (editForm.controls.insurance.dirty || submitAttempt)">
              <ion-label>Insurance Company: </ion-label>
              <ion-input placeholder="Insurance Company (optional)" formControlName="insurance" type="text" [(ngModel)]="currentCredentials.insurance"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.insurance.valid  && (editForm.controls.insurance.dirty || submitAttempt)">
              Please enter a valid Insurance Company name.
            </p>


            <ion-item [class.invalid]="!editForm.controls.policy.valid && (editForm.controls.policy.dirty || submitAttempt)">
              <ion-label>Policy Number: </ion-label>
              <ion-input placeholder="Policy Number (optional)" formControlName="policy" type="text" [(ngModel)]="currentCredentials.policy"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.policy.valid  && (editForm.controls.policy.dirty || submitAttempt)">
              Please enter a valid policy number.
            </p>

            <img src="assets/svg/text_divider-central_flare.svg" onerror="this.src='your.png'">


            <ion-item [class.invalid]="!editForm.controls.make_model.valid && (editForm.controls.make_model.dirty || submitAttempt)">
              <ion-label>Make and model: </ion-label>
              <ion-input placeholder="Vehicle make and model (required)" formControlName="make_model" type="text" [(ngModel)]="currentCredentials.make_model"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.make_model.valid  && (editForm.controls.make_model.dirty || submitAttempt)">
              Please enter a valid vehicle make and model.
            </p>

            <ion-item [class.invalid]="!editForm.controls.body.valid && (editForm.controls.body.dirty || submitAttempt)">
              <ion-label>Car body type: </ion-label>
              <ion-select [(ngModel)]="currentCredentials.body" placeholder="Select car body type (required)" formControlName="body">
                <ion-option value="2sedan">2-Door Coupe</ion-option>
                <ion-option value="4sedan" checked="true">4-Door Sedan</ion-option>
                <ion-option value="SUV">SUV</ion-option>
                <ion-option value="Truck">Truck</ion-option>
                <ion-option value="Van">Van</ion-option>
                <ion-option value="Wagon">Wagon</ion-option>
                <ion-option value="Convertible">Convertible</ion-option>
                <ion-option value="SportsCar">Sports Car</ion-option>
              </ion-select>
            </ion-item>


            <ion-item [class.invalid]="!editForm.controls.color.valid && (editForm.controls.color.dirty || submitAttempt)">
              <ion-label>Car color: </ion-label>
              <ion-select [(ngModel)]="currentCredentials.color" placeholder="Select car color (required)" formControlName="color">
                <ion-option value="White">White</ion-option>
                <ion-option value="Silver" checked="true">Silver</ion-option>
                <ion-option value="Black">Black</ion-option>
                <ion-option value="Grey">Grey</ion-option>
                <ion-option value="Blue">Blue</ion-option>
                <ion-option value="Red">Red</ion-option>
                <ion-option value="Brown">Brown</ion-option>
                <ion-option value="Green">Green</ion-option>
                <ion-option value="Other">Other</ion-option>
              </ion-select>
            </ion-item>

            <ion-item [class.invalid]="!editForm.controls.plateState.valid && (editForm.controls.plateState.dirty || submitAttempt)">
              <ion-label>License plate state: </ion-label>
              <ion-select [(ngModel)]="currentCredentials.plateState" placeholder="Select License Plate State (required)" formControlName="plateState">
                <ion-option value="AL">Alabama - AL</ion-option>
                <ion-option value="AK">Alaska - AK</ion-option>
                <ion-option value="AZ">Arizona - AZ</ion-option>
                <ion-option value="AR">Arkansas - AR</ion-option>
                <ion-option value="CA">California - CA</ion-option>
                <ion-option value="CO">Colorado - CO</ion-option>
                <ion-option value="CT">Connecticut - CT</ion-option>
                <ion-option value="DE">Delaware - DE</ion-option>
                <ion-option value="FL">Florida - FL</ion-option>
                <ion-option value="GA">Georgia - GA</ion-option>
                <ion-option value="HI">Hawaii - HI</ion-option>
                <ion-option value="IL">Illinois - IL</ion-option>
                <ion-option value="IN">Indiana - IN</ion-option>
                <ion-option value="IA">Iowa - IA</ion-option>
                <ion-option value="KS">Kansas - KS</ion-option>
                <ion-option value="KY">Kentucky - KY</ion-option>
                <ion-option value="LA">Louisiana - LA</ion-option>
                <ion-option value="ME">Maine - ME</ion-option>
                <ion-option value="MD">Maryland - MD</ion-option>
                <ion-option value="MA">Massachusetts - MA</ion-option>
                <ion-option value="MI">Michigan - MI</ion-option>
                <ion-option value="MN">Minnesota - MN</ion-option>
                <ion-option value="MS">Mississippi - MS</ion-option>
                <ion-option value="MO">Missouri - MO</ion-option>
                <ion-option value="MT">Montanna - MT</ion-option>
                <ion-option value="NE">Nebraska - NE</ion-option>
                <ion-option value="NV">Nevada - NV</ion-option>
                <ion-option value="NH">New Hampshire - NH</ion-option>
                <ion-option value="NJ">New Jersey - NJ</ion-option>
                <ion-option value="NY">New York - NY</ion-option>
                <ion-option value="NC">North Carolina - NC</ion-option>
                <ion-option value="ND">North Dakota - ND</ion-option>
                <ion-option value="OH">Ohio - OH</ion-option>
                <ion-option value="OK">Oklahoma - OK</ion-option>
                <ion-option value="OR">Oregon - OR</ion-option>
                <ion-option value="PA">Pennsylvania - PA</ion-option>
                <ion-option value="RI">Rhode Island - RI</ion-option>
                <ion-option value="SC">South Carolina - SC</ion-option>
                <ion-option value="SD">South Dakota - SD</ion-option>
                <ion-option value="TN">Tennessee - TN</ion-option>
                <ion-option value="TX">Texas - TX</ion-option>
                <ion-option value="UT">Utah - UT</ion-option>
                <ion-option value="VT">Vermont - VT</ion-option>
                <ion-option value="VA">Virginia - VA</ion-option>
                <ion-option value="WA">Washington - WA</ion-option>
                <ion-option value="WV">West Virginia - WV</ion-option>
                <ion-option value="WI">Wisconsin - WI</ion-option>
                <ion-option value="WY">Wyoming - WY</ion-option>
              </ion-select>
            </ion-item>

            <ion-item [class.invalid]="!editForm.controls.plate.valid && (editForm.controls.plate.dirty || submitAttempt)">
              <ion-label>License plate: </ion-label>
              <ion-input placeholder="Vehicle license plate (required)" formControlName="plate" type="text" [(ngModel)]="currentCredentials.plate"></ion-input>
            </ion-item>
            <p *ngIf="!editForm.controls.plate.valid  && (editForm.controls.plate.dirty || submitAttempt)">
              Please enter a valid license plate number.
            </p>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full color="primary" (click)="save()">Update Account!</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>