/* Left side formatting 
-------------------------
*/

#leftbox {
	display: block;
	float: left;
	width: 50%;
	padding: 0em;
}

#leftbox p{
		float: left;
		padding: 0.5em;
		margin: auto;
}

#leftbox h1{
	text-decoration: underline;
	font-size: 2.0em;
	
}

#leftbox ul{
	font-size: 1em;
}

.brand {
	display: inline-block;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	height: auto;

}


.namespace {
	position: fixed;
	z-index: 0;
}




/* Right side formatting
---------------------------
*/

#rightbox {
	float: right;
	width: 43.25%;
	margin-right: 0.5%;
	padding-left: 2em;
	border-left-style: solid;
	border-left-color: tan;
}

#rightbox h2{
	color: navy;
}

#rightbox p{
	color: white;
	padding: 1em;
}




/**************
RESPONSIVE 
**************/


@media screen and (max-width: 880px) {
	
	#leftbox{
		width: 75%;
		padding: 2em;
	}
	
	#leftbox p{
		margin: auto;
		position: relative;
	}
	
	#leftbox img{
		display: inline;
	}
	
	#leftbox.brand{
		float:none;
		position: absolute;
	}
	
	.namespace{
		position: relative;
		z-index: -1;
		margin: auto;
	}
	
	#rightbox{
		float: none;
		width: 75%;
		margin: auto;
		clear: left;
	}

}

@media screen and (max-width: 700px) {
	#leftbox{
		width: 90%;
	}
	
	#rightbox{
		width: 90%;
	}
}

@media screen and (max-width: 590px) {
	#leftbox{
		float:none;
		width: 78%;
	}
	
	#leftbox p{
		float: none;
		width: auto;
		margin: auto;
	}
	
	.brand {
		float: none;
		width: auto;
		margin: auto;
	}
	
	#rightbox{
		float:none;
		top:2em;
		position: relative;
		width: 78%;
	}
}