
<ion-header no-shadow>

  <ion-navbar no-border-bottom>
    <ion-buttons start>
      <button ion-button color="light" (click)="closeModal()">Cancel</button>
    </ion-buttons>
    <ion-title>Media</ion-title>
    <ion-buttons end>
      <ion-spinner *ngIf="!mediaLoaded" color="light"></ion-spinner>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #imageParent class="pinch-zoom-container">
    <img #image dimg="medium" class="pinch-zoom-image" [src]="src" alt="loading.." (load)="setMediaLoaded()">
  </div>
</ion-content>








