<!--
  Generated template for the Svgmap page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>svgmap</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <p>Scroll down to view all SVG drawings</p>

<p><strong>static figure</strong></p>
<figure>
  <svg viewBox="0 0 250 250" style="max-width: 300px">
    <polygon class="left" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031" />
    <polygon class="right" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" fill="#C3002F" />
    <path class="lettera" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
  </svg>
</figure> 

<p><strong>one animated polygon</strong></p>
<figure>
  <svg viewBox="0 0 250 250" style="max-width: 300px">
    <polygon class="left" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031" />
    <polygon class="right" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" fill="#C3002F" />
    <path class="a" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
  </svg>
</figure>

<p><strong>two separately animated polygons</strong></p>
<figure>
  <svg viewBox="0 0 250 250">
    <g class="group">
      <polygon class="shield" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031"/>
      <path class="a" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
        L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
    </g>
  </svg>
</figure>


<p><strong>drag finger around object below</strong></p>
<figure>
  
  <svg viewBox="0 0 250 250"
     (pan)="setCircleLocation($event)">
    <svg:defs>
      <svg:clipPath id="clip">
        <svg:circle [attr.cx]="centerx" [attr.cy]="centery" r="100" />
      </svg:clipPath>
    </svg:defs>
    <svg:g clip-path="url(#clip)">
      <svg:polygon points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031"/>
      <svg:polygon points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" fill="#C3002F"/>
      <svg:path d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
        L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
    </svg:g>
  </svg>

</figure>

<p><strong>tap finger on the white part of the letter A</strong></p>

<figure>
  <svg viewBox="0 0 250 250">
  <svg:polygon class="left" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031" />
  <svg:polygon class="right" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30"fill="#C3002F" />
  <svg:path class="a1"
        (tap)="toggleAState()"
        [@aState]="aState"
        d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
    L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
</svg>
</figure>

<p><strong>altering points</strong></p>

<svg viewBox="0 0 250 250">
  <svg:polygon #left points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" fill="#DD0031" />
  <svg:polygon #right points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" fill="#C3002F" />
  <svg:path  d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
    L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"/>
</svg>



<svg viewBox="0 0 350 350">
 <g id="a">
  <text id="text3363" class="a" style="word-spacing:0px;letter-spacing:0px" xml:space="preserve" font-size="40px" y="66.386719" x="38.136787" font-family="Sans" line-height="125%" fill="#000000"><tspan id="tspan3365" x="38.136787" y="66.386719">Kimanii and Leif: Neighborly as fuck!</tspan></text>
 </g>
</svg>


</ion-content>
