<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

  -->

<ion-header>

  <ion-navbar>
    <ion-title>{{item.text}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1> Welcome #{{item.id}}</h1>
  <h3>
    Great job!!!!
  </h3>

</ion-content>

