    <ion-header>
        <ion-navbar >
            <ion-title>User info:{{user}}</ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content padding>
        <div [innerHtml]="display2">
        </div>
        <!--ion-item *ngFor="let item of display" >
            {{item.$key}} : {{item.$value}}
        </ion-item-->
        


        <!--button ion-item *ngFor="let listItem of display" (click)="itemSelected(listItem)">
            {{ listItem.username }}
        </button-->
        <button ion-button color="primary" (click)="startConversation(user)">
            <ion-icon name="person"></ion-icon> 
            Start Chat with<br>this user
        </button>
    </ion-content>