<!--
  Generated template for the Offer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>offer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<button ion-button class="submit-btn" (click)="queryownspots()">
  <ion-label>Show times your spot is currently offered</ion-label>
</button>
<div *ngIf="availableSpotsStream$">
  <ion-list>
    <ion-item-sliding *ngFor="let spot of availableSpotsStream$; ">
      <ion-item>
        <p>
          <strong>Start: </strong>{{ spot.start | date:'fullDate' }} at {{ spot.start | date:'shortTime'}}
          <br>
          <strong>End: </strong>{{ spot.end | date:'fullDate' }} at {{ spot.end | date:'shortTime'}}
        </p>
      </ion-item>
      <ion-item-options side = "right">
        <button ion-button color="danger" (click)="delete(spot)">
          <ion-icon name="trash"></ion-icon>
          Delete
          </button>
      </ion-item-options >

    </ion-item-sliding>
  </ion-list>
</div>
<p>All times below are in Local (Chicago) time</p>
  <ion-list *ngIf="event.startDate">
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.startDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.endDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.endTime"></ion-datetime>
    </ion-item>

  </ion-list>
  <button ion-button class="submit-btn" (click)="checkvalues()">
    <ion-label>Enter</ion-label>
  </button>
    <div *ngIf="str_startingDT">
      <p>Would you like to offer your parking space from:</p>
      <p>{{str_startingDT | date:'fullDate'}} at {{str_startingDT | date:'shortTime'}}</p>
      <p>Until:</p>
      <p>{{str_endingDT | date:'fullDate'}} at {{str_endingDT | date:'shortTime'}}?</p>
      <button ion-button class="submit-btn" (click)="send()">
        <ion-label>Yes</ion-label>
      </button>
      <button ion-button class="submit-btn" (click)="redo()">
        <ion-label>No</ion-label>
      </button>
    </div>

<!--
  dd/MM/yyyy<p>{{currentDate | date:'yyyy-MM-dd'}}</p>
  dd, MMMM yyyy format<p>{{currentDate | date:'dd, MMMM yyyy'}}</p>
  24 Hour time<p>{{currentDate | date:'HH:mm:ss'}}</p>
  12 Hour time<p>{{currentDate | date:'hh:mm:ss a'}}</p>
-->
</ion-content>
