<ion-header>
  <ion-navbar>
    <ion-title>
      The boring initial screen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Application overview:
  </p>

  <p class="selectable">
    This text is just to organize the creation of a simple push communication app that has the users sign up, sign in, and send
    push messages to each other.
  </p>


  <div>
    <button ion-button (click)="gotologin()">Normal flowpath -> Full test here</button>
  </div>

  <div>
    <button ion-button (click)="gotosignup()">Go directly to signup/register page</button>
  </div>

  <div>
    <button ion-button (click)="gotosendmessage()">Go directly to send message page</button>
  </div>

  <div>
    <button ion-button (click)="gotoconversations()">Go directly to conversation page</button>
  </div>

  <div>
    <button ion-button (click)="gotomap()">Go directly to map page</button>
  </div>

  <div>
    <button ion-button (click)="gotoimagemap()">Go directly to image map page</button>
  </div>

   <div>
    <button ion-button (click)="gotosvgmap()">Go directly to SVG map page</button>
  </div>

  <!--<div>
    <button ion-button (click)="gotomapzoom()">Go directly to SVG zoom page</button>
  </div>-->

</ion-content>