<!--
  Generated template for the Request page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request a Parking Space</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [hidden]="totalAvailableSpaces > 0 || invalidSearch">
    <span *ngIf="num_garages > 1">
      <h2>I need to search for a space in the following garages:</h2>
        <ion-select [(ngModel)]="garage" placeholder="Select your garage">
            <ion-option value="canal">Canal Street Garage</ion-option>
            <ion-option value="adams">Adams Street Garage</ion-option>
            <ion-option value="">both</ion-option>
        </ion-select>
    </span>
    <h2>I need a space starting: </h2><br>
    <ion-list *ngIf="event.startDate">
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" min={{pickerStartDate}} max={{pickerEndDate}} [(ngModel)]="event.startDate"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
    </ion-list>
    <br>
    <h2>I can leave that space on: </h2>
    <br>
    <ion-list *ngIf="event.endDate">
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" min={{pickerStartDate}} max={{pickerEndDate}} [(ngModel)]="event.endDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.endTime"></ion-datetime>
      </ion-item>
    </ion-list>
    <p>All times are in Local (Chicago) time</p>
    <button ion-button class="submit-btn" (click)="querySpaces()">
    <ion-label>View Available Spaces</ion-label>
  </button>
  </div>


  <div [hidden]="totalAvailableSpaces < 1 || invalidSearch">
    <ion-list>
      <ion-item ion-item *ngFor="let spot of availableSpotsStream$; ">
        <div [hidden]="spot.offer_status != 1">
          <p>
            <strong>Start: </strong>{{ spot.offer_start | date:'EEE, MMMM d, y' }} at {{ spot.offer_start | date:'shortTime' }}
          </p>
          <br>
          <p>
            <strong>End: </strong>{{ spot.offer_end | date:'EEE, MMMM d, y'}} at {{ spot.offer_end | date:'shortTime' }}
          </p>
          <p><strong>Owner: </strong>{{ spot.owner }}</p>
          <span *ngIf="num_garages > 1">
            <p><strong>Garage: </strong>{{ spot.garage }}</p>
          </span>
          <p><strong>Building: </strong>{{ spot.building }}</p>
          <button style="float:right" ion-button color="primary" (click)="request(spot)">
            <ion-icon name="car"></ion-icon>
            Request
          </button>
        </div>
      </ion-item>
    </ion-list>
    <button style="clear:both;float:left" ion-button color="secondary" (click)="reset()">
      New Search
      </button>
  </div>

  <div [hidden]="totalAvailableSpaces > 0 || !invalidSearch">
    <p>No spots are available between {{dat_startingDT | date:'shortTime'}}, {{dat_startingDT | date:'fullDate'}} and {{dat_endingDT
      | date:'shortTime'}}, {{dat_endingDT | date:'fullDate'}}. Please refine your search and try again. </p>
    <button style="clear:both;float:left" ion-button color="secondary" (click)="reset()">
      New Search
      </button>
  </div>

</ion-content>