<!--
  Generated template for the Landing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--ion-navbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-navbar-->

</ion-header>


<!--ion-content padding class="mainbackground"-->
<ion-content padding class="backed">
  <img src='assets/svg/Neighborly_Logo.svg'> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <img tappable [src]="imgSrc_Offer"  (touchstart)="changePic(1)" (touchend)="changePic(1)" (mouseup)="changePic(1)" (mousedown)="changePic(1)" (click)="goToOffer()" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/svg/Neighborly_GreenLine.svg" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img tappable [src]="imgSrc_Find"  (touchstart)="changePic(2)" (touchend)="changePic(2)" (mouseup)="changePic(2)" (mousedown)="changePic(2)" (click)="goToRequest()" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/svg/Neighborly_GreenLine.svg" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img tappable [src]="imgSrc_Requests"  (touchstart)="changePic(3)" (touchend)="changePic(3)" (mouseup)="changePic(3)" (mousedown)="changePic(3)" (click)="goToRequestPending()" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <br>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img tappable [src]="imgSrc_Profile"  (touchstart)="changePic(4)" (touchend)="changePic(4)" (mouseup)="changePic(4)" (mousedown)="changePic(4)"  (click)="goToManagement()" >
      </ion-col>
      <ion-col>
        <img tappable [src]="imgSrc_Chat"  (touchstart)="changePic(5)" (touchend)="changePic(5)" (mouseup)="changePic(5)" (mousedown)="changePic(5)" (click)="goToConversations()" >
      </ion-col>
      <ion-col>
        <img tappable [src]="imgSrc_Settings"  (touchstart)="changePic(6)" (touchend)="changePic(6)" (mouseup)="changePic(6)" (mousedown)="changePic(6)"  (click)="goToSettings()" >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>