<!--
  Generated template for the Query page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>query</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-item>
        <ion-select [(ngModel)]="starttime"
        placeholder = "start time" 
        >
            <ion-option valueStart=1499914800000>1499914800000</ion-option>
            <ion-option valueStart=1499979600000>1499979600000</ion-option>
            <ion-option valueStart=45 checked="true">45</ion-option>
            <ion-option valueStart=1499997600000>1499997600000</ion-option>
            <ion-option valueStart=1500019200000>1500019200000</ion-option>
            <ion-option valueStart=1500019203421>1500019203421</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>

        <ion-select [(ngModel)]="endtime"
        placeholder = "end time" 
        >
            <ion-option valueEnd=1500094800000>1500094800000</ion-option>
            <ion-option valueEnd=45 checked="true">45</ion-option>
            <ion-option valueEnd=1500109200000>1500109200000</ion-option>
            <ion-option valueEnd=1501041600000>1501041600000</ion-option>
            <ion-option valueEnd=1500019203421>1500019203421</ion-option>
        </ion-select>  
      </ion-item>
      <button ion-button (click)="query()">query start and end values</button>
  starttime:
  <br>
  {{starttime}}
  <br>
  endtime:
  <br>
  {{endtime}}
  <br>
  start time returns:
  <br>
  {{value}}
  <br>
  end time returns:
  <br>
  {{value2}}

</ion-content>
