<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item text-wrap>
    <ion-label>Receive Push Notifications:</ion-label>
    <ion-toggle color="secondary" [(ngModel)]="notificationProvider.enable_push" (ngModelChange)="updatepush()"></ion-toggle>
  </ion-item>

      <button ion-button block round icon-left  color = "dark"(click)="about()">
      <!--span class="flex-left"-->
        <ion-icon name='paw'></ion-icon>
      <!--/span-->
      <!--span class="flex-center"-->
        About
      <!--/span-->
      <!--span class="flex-right"-->
      <!--/span-->
    </button>

        <button ion-button block round icon-left  color = "danger"(click)="logOut()">
      <!--span class="flex-left"-->
        <ion-icon name='exit'></ion-icon>
      <!--/span-->
      <!--span class="flex-center"-->
        Logout
      <!--/span-->
      <!--span class="flex-right"-->
      <!--/span-->
    </button>


</ion-content>
