page-map {

img {
  position: absolute;
  top: 25px;
  left: 25px;
}
.imgA1 {
     position: relative; 
     top: 0; 
     left: 0; 
}
.imgB1 {
    position: absolute; 
    top: 60px; 
    left: 120px; 
}


}

