<ion-header>
    <ion-navbar color="dark">
        <ion-title>PASSWORD RESET</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box" #signupSlider>
        <div class="login-title"> Enter the e-mail address you registered with and click submit
        </div>

        <div [hidden]="validSubmission" class='email_form'>
            <form [formGroup]="emailForm">
                <p *ngIf="submitAttempt" style="color: #E6C17E; text-align: center;"> Enter the e-mail address you registered with and click "Send Reset Passcode". A six digit pin number will
                    be sent to your e-mail address. Enter that pin number along with your new password and click "Submit
                    New Password".
                </p>
                <ion-row>
                    <ion-col>
                        <ion-list inset>


                            <ion-item [class.invalid]="!emailForm.controls.email.valid && (emailForm.controls.email.touched || submitAttempt)">
                                <ion-input placeholder="Email (required)" formControlName="email" type="email" [(ngModel)]="resetInformation.email"></ion-input>
                            </ion-item>
                            <p *ngIf="!emailForm.controls.email.valid  && (emailForm.controls.email.touched || submitAttempt)">
                                Please enter a valid email.
                            </p>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full color="primary" (click)="sendResetPin()">Send Reset Passcode</button>
                    </ion-col>

                </ion-row>
            </form>
        </div>

        <div div [hidden]="!validSubmission" class='reset_form'>
            <form [formGroup]="resetForm">
                <p *ngIf="submitAttempt" style="color: #E6C17E; text-align: center;"> Enter the e-mail address you registered with and click "Send Reset Passcode". A six digit pin number will
                    be sent to your e-mail address. Enter that pin number along with your new password and click "Submit
                    New Password".
                </p>
                <ion-row>
                    <ion-col>
                        <ion-list inset>

                            <ion-item [class.invalid]="!resetForm.controls.confirmPassword.valid && (resetForm.controls.confirmPassword.touched || resetAttempt)">
                                <ion-input placeholder="Password (required)" formControlName="password" formGroupName="password" type="password" [(ngModel)]="resetInformation.password"></ion-input>
                            </ion-item>

                            <ion-item [class.invalid]="!resetForm.controls.confirmPassword.valid && (resetForm.controls.confirmPassword.touched || resetAttempt)">
                                <ion-input placeholder="Confirm password (required)" formControlName="confirmPassword" type="password"></ion-input>
                            </ion-item>
                            <p *ngIf="!resetForm.controls.confirmPassword.valid  && (resetForm.controls.confirmPassword.touched || resetAttempt)">
                                The passwords entered do not match.
                            </p>

                            <ion-item [class.invalid]="!resetForm.controls.resetToken.valid && (resetForm.controls.resetToken.touched || resetAttempt)">
                                <ion-input placeholder="Reset Passcode (required)" formControlName="resetToken" type="token" [(ngModel)]="resetInformation.resetToken"></ion-input>
                            </ion-item>
                            <p *ngIf="!resetForm.controls.resetToken.valid  && (resetForm.controls.resetToken.touched || resetAttempt)">
                                Please enter a valid 6 digit pin.
                            </p>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>


                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full color="primary" (click)="submitNewPass()">Submit New Password</button>
                    </ion-col>


                </ion-row>
            </form>
        </div>
    </div>
</ion-content>