
  page-password-reset {
    .login-content {
      background: #56CA96;
      .login-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
      .login-title {
        border: 2px solid #000000;
        background: #155D51;
        padding: 10px 10px 10px 10px;
        margin-top: 5px;
        color: #ffffff;
        text-align: center;
        border-radius: 30px;
      }
      ion-row {
        align-items: center;
        text-align: center;
      }
      p {
        font-size: 0.9em;
        color: #ffffff;
        text-align: left;
        margin-left: 30px;
 
      }
      ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid #ffffff;
        border-bottom: 0px; //!important;
        box-shadow: none; //!important;
      }
      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      } // .item-inner {
      //   border-bottom-color: #ffffff !important;
      //   box-shadow: none !important;
      // }
      .submit-btn {
        background: #51CFB1;
        border-radius: 30px; //!important;
        border: 1px solid #ffffff;
      }
      .invalid {
        color: #000000;
        background: #FF988D;
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 1.2em;
        margin-bottom: 10px;
        border: 0px solid #000000;
        border-bottom: 0px; //!important;
        box-shadow: none; //!important;
      }
    }
    ion-select {
      width: 100%;
      max-width: 100%; //!important;
      padding-left: 0px;
    }
    hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-width: 5px;
      border-color: #7BB0A7;
      border-style: solid;
      width: 95%;
    }
  }

