<ion-header>
  <ion-navbar>
    <ion-title>Snoopy oopykins</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item.text }}
  </button>   
</ion-list>
</ion-content>
