// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  happy:        #32db64,
  happy-text:   #FFFFFF,
  col_mainbackgroundlightest: #FFB0B0,
  col_mainbackgroundlight: #FF8585,
  col_mainbackground: #F35E5D,
  col_mainbackgrounddark:#D93838,
  col_mainbackgrounddarkest: #B21a1a,

);


.bullshit2{
    primary:    #387ef5;
  secondary:  #32db64;
  danger:     #f53d3d;
  light:      #f4f4f4;
  dark:       #222;
  happy:        #32db64;
  happy-text:   #FFFFFF;
  col_mainbackgroundlightest: #FFB0B0;
  col_mainbackgroundlight: #FF8585;
  col_mainbackground: #F35E5D;
  col_mainbackgrounddark:#D93838;
  col_mainbackgrounddarkest: #B21a1a;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//$alert-md-button-text-color:#FF0000;
//$alert-md-background-color:#F35E5D;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
