<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="login-content" padding>
  <div class="login-box">
    
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="ionicRegisterCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="ionicRegisterCredentials.password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="tel" placeholder="Parking Spot Number" name="spot" [(ngModel)]="FbRegisterCredentials.spot" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Condo Unit Number" name="spot" [(ngModel)]="FbRegisterCredentials.unit" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Insurance Company" name="insurance" [(ngModel)]="FbRegisterCredentials.insurance" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Policy Number" name="policy" [(ngModel)]="FbRegisterCredentials.policy" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Vehicle Make and Model" name="make_model" [(ngModel)]="FbRegisterCredentials.make_model" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Vehicle Color" name="color" [(ngModel)]="FbRegisterCredentials.color" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Vehicle License Plate" name="plate" [(ngModel)]="FbRegisterCredentials.plate" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="tel" placeholder="Best Telephone Number" name="telephone" [(ngModel)]="FbRegisterCredentials.telephone" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>   
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>