<ion-header>
  <ion-navbar>
    <ion-title>
      Register
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-input type="text" [(ngModel)]="fName" placeholder="First Name" required></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-input type="text" [(ngModel)]="lName" placeholder="Last Name" required></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-input type="text" [(ngModel)]="eMail" placeholder="E-Mail" required></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-input type="text" [(ngModel)]="invite" placeholder="Invitation Number" required></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <button ion-button (click)="registerBtn(fName, lName, eMail, invite)"> Register </button>
        </ion-item>
        <br>
        <ion-item>
            <ion-input type="text" [(ngModel)]="delRec" placeholder="Delete record" required></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <button ion-button (click)="delBtn(delRec)"> Delete Record </button>
        </ion-item>
        
        
        
    </ion-list>
    
</ion-content>

