<ion-header>
    <ion-navbar color="dark">
        <ion-title>NEW USER SIGNUP</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box" >
        <div class="login-title"> Enter in the information below and select 'Create Account'
        </div>
        <form [formGroup]="signUpForm">
            <p *ngIf="submitAttempt" style="color: #E6C17E; text-align: center;"> Please fill out all details accurately.
            </p>
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item [class.invalid]="!signUpForm.controls.email.valid && (signUpForm.controls.email.touched || submitAttempt)">
                            <ion-input [readonly]="true" placeholder="Email (required)" formControlName="email" type="email" [(ngModel)]="registerCredentials.email"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.email.valid  && (signUpForm.controls.email.touched || submitAttempt)">
                            Please enter a valid email.
                        </p>

                        <ion-item [class.invalid]="!signUpForm.controls.confirmPassword.valid && (signUpForm.controls.confirmPassword.touched || submitAttempt)">
                            <ion-input placeholder="Password (required)" formControlName="password" formGroupName="password" type="password" [(ngModel)]="registerCredentials.password"></ion-input>
                        </ion-item>

                        <ion-item [class.invalid]="!signUpForm.controls.confirmPassword.valid && (signUpForm.controls.confirmPassword.touched || submitAttempt)">
                            <ion-input placeholder="Confirm password (required)" formControlName="confirmPassword" type="password"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.confirmPassword.valid  && (signUpForm.controls.confirmPassword.touched || submitAttempt)">
                            The confirmation password does not match.
                        </p>

                        <img src="assets/svg/text_divider-central_flare.svg" onerror="this.src='your.png'">



                        <ion-item [class.invalid]="!signUpForm.controls.firstName.valid && (signUpForm.controls.firstName.touched || submitAttempt)">
                            <ion-input [readonly]="true" placeholder="First name (required)" formControlName="firstName" type="text" [(ngModel)]="registerCredentials.firstName"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.firstName.valid  && (signUpForm.controls.firstName.dirty || submitAttempt)">
                            Please enter a valid first name.
                        </p>


                        <ion-item [class.invalid]="!signUpForm.controls.lastName.valid && (signUpForm.controls.lastName.dirty || submitAttempt)">
                            <ion-input [readonly]="true" placeholder="Last name (required)" formControlName="lastName" type="text" [(ngModel)]="registerCredentials.lastName"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.lastName.valid  && (signUpForm.controls.lastName.dirty || submitAttempt)">
                            Please enter a valid last name.
                        </p>


                        <ion-item [class.invalid]="!signUpForm.controls.building.valid && (signUpForm.controls.building.dirty || submitAttempt)">
                            <ion-select [disabled]="true" [(ngModel)]="registerCredentials.building" placeholder="Select your building (required)" formControlName="building">
                                <ion-option value="metropolitan">Metropolitan Place</ion-option>
                                <ion-option value="terryaki">Terryaki Place</ion-option>
                                <ion-option value="1111WMadison">1111 West Madison</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item *ngIf = "registerCredentials.building == 'metropolitan'" [class.invalid]="!signUpForm.controls.garage.valid && (signUpForm.controls.garage.dirty || submitAttempt)">
                            <ion-select [(ngModel)]="registerCredentials.garage" placeholder="Select your garage (required)" formControlName="garage">
                                <ion-option [hidden]="registerCredentials.building != 'metropolitan'" value="adams">Adams Street</ion-option>
                                <ion-option [hidden]="registerCredentials.building != 'metropolitan'" value="canal">Canal Street</ion-option>
                            </ion-select>
                        </ion-item>

                        <p *ngIf="signUpForm.controls.garage.hasError('garage_error_text')">
                            {{signUpForm.controls.spot.errors.garage_error_text}}
                        </p>

                        <ion-item [class.invalid]="!signUpForm.controls.spot.valid && (signUpForm.controls.spot.dirty || submitAttempt)">
                            <ion-input [readonly]="true" placeholder="Parking Spot Number" formControlName="spot" type="tel" [(ngModel)]="registerCredentials.spot"></ion-input>
                        </ion-item>

                        <p *ngIf="signUpForm.controls.spot.pending">
                            Checking if spot already exists in database...
                        </p>

                        <p *ngIf="signUpForm.controls.spot.hasError('spotExists_error_text')">
                            {{signUpForm.controls.spot.errors.spotExists_error_text}}
                        </p>

                        <p *ngIf="signUpForm.controls.spot.hasError('spot_error_text')">
                            {{signUpForm.controls.spot.errors.spot_error_text}}
                        </p>


                        <ion-item [class.invalid]="!signUpForm.controls.unit.valid && (signUpForm.controls.unit.dirty || submitAttempt)">
                            <ion-input [readonly]="true" placeholder="Condo Unit Number (required)" formControlName="unit" type="text" [(ngModel)]="registerCredentials.unit"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.unit.valid  && (signUpForm.controls.unit.dirty || submitAttempt)">
                            Please enter a valid condo unit number (ex: 203).
                        </p>


                        <ion-item [class.invalid]="!signUpForm.controls.telephone.valid && (signUpForm.controls.telephone.dirty || submitAttempt)">
                            <ion-input placeholder="Phone number (optional)" formControlName="telephone" type="tel" [(ngModel)]="registerCredentials.telephone"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.telephone.valid  && (signUpForm.controls.telephone.dirty || submitAttempt)">
                            Please enter a valid 10-digit telephone number.
                        </p>

                        <img src="assets/svg/text_divider-central_flare.svg" onerror="this.src='your.png'">


                        <ion-item [class.invalid]="!signUpForm.controls.insurance.valid && (signUpForm.controls.insurance.dirty || submitAttempt)">
                            <ion-input placeholder="Insurance Company (optional)" formControlName="insurance" type="text" [(ngModel)]="registerCredentials.insurance"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.insurance.valid  && (signUpForm.controls.insurance.dirty || submitAttempt)">
                            Please enter a valid Insurance Company name.
                        </p>


                        <ion-item [class.invalid]="!signUpForm.controls.policy.valid && (signUpForm.controls.policy.dirty || submitAttempt)">
                            <ion-input placeholder="Policy Number (optional)" formControlName="policy" type="text" [(ngModel)]="registerCredentials.policy"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.policy.valid  && (signUpForm.controls.policy.dirty || submitAttempt)">
                            Please enter a valid policy number.
                        </p>

                        <img src="assets/svg/text_divider-central_flare.svg" onerror="this.src='your.png'">


                        <ion-item [class.invalid]="!signUpForm.controls.make_model.valid && (signUpForm.controls.make_model.dirty || submitAttempt)">
                            <ion-input placeholder="Vehicle make and model (required)" formControlName="make_model" type="text" [(ngModel)]="registerCredentials.make_model"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.make_model.valid  && (signUpForm.controls.make_model.dirty || submitAttempt)">
                            Please enter a valid vehicle make and model.
                        </p>

                        <ion-item [class.invalid]="!signUpForm.controls.body.valid && (signUpForm.controls.body.dirty || submitAttempt)">
                            <ion-select [(ngModel)]="registerCredentials.body" placeholder="Select car body type (required)" formControlName="body">
                                <ion-option value="2sedan">2-Door Coupe</ion-option>
                                <ion-option value="4sedan" checked="true">4-Door Sedan</ion-option>
                                <ion-option value="SUV">SUV</ion-option>
                                <ion-option value="Truck">Truck</ion-option>
                                <ion-option value="Van">Van</ion-option>
                                <ion-option value="Wagon">Station Wagon</ion-option>
                                <ion-option value="Convertible">Convertible</ion-option>
                                <ion-option value="SportsCar">Sports Car</ion-option>
                            </ion-select>
                        </ion-item>


                        <ion-item [class.invalid]="!signUpForm.controls.color.valid && (signUpForm.controls.color.dirty || submitAttempt)">
                            <ion-select [(ngModel)]="registerCredentials.color" placeholder="Select car color (required)" formControlName="color">
                                <ion-option value="White">White</ion-option>
                                <ion-option value="Silver" checked="true">Silver</ion-option>
                                <ion-option value="Black">Black</ion-option>
                                <ion-option value="Grey">Grey</ion-option>
                                <ion-option value="Blue">Blue</ion-option>
                                <ion-option value="Red">Red</ion-option>
                                <ion-option value="Brown">Brown</ion-option>
                                <ion-option value="Green">Green</ion-option>
                                <ion-option value="Other">Other</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item [class.invalid]="!signUpForm.controls.plateState.valid && (signUpForm.controls.plateState.dirty || submitAttempt)">
                            <ion-select [(ngModel)]="registerCredentials.plateState" placeholder="Select License Plate State (required)" formControlName="plateState">
                                <ion-option value="AL">Alabama - AL</ion-option>
                                <ion-option value="AK">Alaska - AK</ion-option>
                                <ion-option value="AZ">Arizona - AZ</ion-option>
                                <ion-option value="AR">Arkansas - AR</ion-option>
                                <ion-option value="CA">California - CA</ion-option>
                                <ion-option value="CO">Colorado - CO</ion-option>
                                <ion-option value="CT">Connecticut - CT</ion-option>
                                <ion-option value="DE">Delaware - DE</ion-option>
                                <ion-option value="FL">Florida - FL</ion-option>
                                <ion-option value="GA">Georgia - GA</ion-option>
                                <ion-option value="HI">Hawaii - HI</ion-option>
                                <ion-option value="IL">Illinois - IL</ion-option>
                                <ion-option value="IN">Indiana - IN</ion-option>
                                <ion-option value="IA">Iowa - IA</ion-option>
                                <ion-option value="KS">Kansas - KS</ion-option>
                                <ion-option value="KY">Kentucky - KY</ion-option>
                                <ion-option value="LA">Louisiana - LA</ion-option>
                                <ion-option value="ME">Maine - ME</ion-option>
                                <ion-option value="MD">Maryland - MD</ion-option>
                                <ion-option value="MA">Massachusetts - MA</ion-option>
                                <ion-option value="MI">Michigan - MI</ion-option>
                                <ion-option value="MN">Minnesota - MN</ion-option>
                                <ion-option value="MS">Mississippi - MS</ion-option>
                                <ion-option value="MO">Missouri - MO</ion-option>
                                <ion-option value="MT">Montanna - MT</ion-option>
                                <ion-option value="NE">Nebraska - NE</ion-option>
                                <ion-option value="NV">Nevada - NV</ion-option>
                                <ion-option value="NH">New Hampshire - NH</ion-option>
                                <ion-option value="NJ">New Jersey - NJ</ion-option>
                                <ion-option value="NY">New York - NY</ion-option>
                                <ion-option value="NC">North Carolina - NC</ion-option>
                                <ion-option value="ND">North Dakota - ND</ion-option>
                                <ion-option value="OH">Ohio - OH</ion-option>
                                <ion-option value="OK">Oklahoma - OK</ion-option>
                                <ion-option value="OR">Oregon - OR</ion-option>
                                <ion-option value="PA">Pennsylvania - PA</ion-option>
                                <ion-option value="RI">Rhode Island - RI</ion-option>
                                <ion-option value="SC">South Carolina - SC</ion-option>
                                <ion-option value="SD">South Dakota - SD</ion-option>
                                <ion-option value="TN">Tennessee - TN</ion-option>
                                <ion-option value="TX">Texas - TX</ion-option>
                                <ion-option value="UT">Utah - UT</ion-option>
                                <ion-option value="VT">Vermont - VT</ion-option>
                                <ion-option value="VA">Virginia - VA</ion-option>
                                <ion-option value="WA">Washington - WA</ion-option>
                                <ion-option value="WV">West Virginia - WV</ion-option>
                                <ion-option value="WI">Wisconsin - WI</ion-option>
                                <ion-option value="WY">Wyoming - WY</ion-option>
                            </ion-select>
                        </ion-item>

                        <ion-item [class.invalid]="!signUpForm.controls.plate.valid && (signUpForm.controls.plate.dirty || submitAttempt)">
                            <ion-input placeholder="Vehicle license plate (required)" formControlName="plate" type="text" [(ngModel)]="registerCredentials.plate"></ion-input>
                        </ion-item>
                        <p *ngIf="!signUpForm.controls.plate.valid  && (signUpForm.controls.plate.dirty || submitAttempt)">
                            Please enter a valid license plate number.
                        </p>


                        <!--ion-item>
                            <ion-input placeholder = "username" [class.invalid]="!signUpForm.controls.username.valid && (signUpForm.controls.username.dirty || submitAttempt)"
                                formControlName="username" type="text"></ion-input>
                        </ion-item>

                        <ion-item *ngIf="signUpForm.controls.username.pending">
                            <p>Checking username...</p>
                        </ion-item>

                        <ion-item *ngIf="!signUpForm.controls.username.valid && !signUpForm.controls.username.pending && (signUpForm.controls.username.dirty || submitAttempt)">
                            <p>Sorry, that username can not be used!</p>
                        </ion-item-->


                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full color="primary" (click)="save()">Create Account!</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>