
page-login {
 
  .login-content {
    background: #F35E5D;  //   56CA96
 
    .logo-row {
      padding-top: 30px;
      padding-bottom: 10px;
    }
 
    .login-box {
      background: #f3835d; //  399F8B
      padding: 10px 20px 10px 20px;
      margin-top: 0px;
    }

    .badversion-parent {
      display: flex;
      background: #f3835d; //  399F8B
      height: 100%;
      //width: 90%;
      //align-content: center;
      //margin: auto;
      //padding: 10px 20px 10px 20px;
      //margin-top: 0px;
    }
    .badversion-child {
      display: flex;
      width: 90%;
      height: 90%;
      background: white; //  399F8B
      margin: auto;
      padding: 5px;
      //margin-top: 0px;
    }

    .badversion-child-child {
      width: 90%;
      height: 90%;
      background: white; //  399F8B
      margin: auto;
      padding: 5px;
      //margin-top: 0px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 1.0em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 5px 16px;
       padding-bottom: 0px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #5deef3;  //   51CFB1
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
     p{

       color: #000000;
       font-size: 1.0em;
     }
  }
 
}