<ion-header>
  <ion-navbar>
    <ion-title>Welcome {{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Pending requests for your spot.</h4>
  <div [hidden]="totalPendingSpaces">
    <i><p>You do not currently have offers pending for your spot.</p></i>
  </div>
  <div [hidden]="!totalPendingSpaces">
    <h5>Slide to the left to approve or deny the spot</h5>
    
    <ion-list>
      <ion-item-sliding *ngFor="let spot of pendingSpotsStream$; let i = index" [attr.data-index]="i">
        
        <ion-item class="pending">
          <button ion-button item-right>  
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <h4>
            <strong>Start: </strong>{{ spot._3_request_start | date:'EEE, MMMM d, y' }} at {{ spot._3_request_start | date:'shortTime'}}
          </h4>
          <h4>
            <strong>End: </strong>{{ spot._4_request_end | date:'EEE, MMMM d, y' }} at {{ spot._4_request_end | date:'shortTime'}}
          </h4>
          <h4>
            <strong>Request made by:</strong> {{spot.request_user}}
          </h4>
          <span *ngIf="num_garages > 1">
            <h4><strong>Garage: </strong>{{ spot.garage }}</h4>
          </span>
          <h4><strong>Building: </strong>{{ spot.building }}</h4>
        </ion-item>
        
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="userpage(spot.request_user)">
            <ion-icon name="person"></ion-icon>  
            Show Requesting<br>User Info
          </button>
          <button ion-button color="danger" (click)="showConfirmReject(spot, i)">
            <ion-icon name="thumbs-down"></ion-icon>
            Deny
          </button>
          <button ion-button color="secondary" (click)="showConfirmApprove(spot, i)">
            <ion-icon name="heart"></ion-icon>
            Approve
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  
  
  <h4>Existing reservations for your spot</h4>
  <div [hidden]="totalReservedSpaces">
    <i><p>You do not currently have any reservations for your spot.</p></i>
  </div>
  <div [hidden]="!totalReservedSpaces">
    <h5>Slide to the left to cancel reservation</h5>
    
    <ion-list >
      <ion-item-sliding *ngFor="let spot of reservedSpotsStream$; let i = index" [attr.data-index]="i">
        <ion-item class="reserved">
          <button ion-button item-right>  
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <h4>
            <strong>Start: </strong>{{ spot._3_request_start | date:'EEE, MMMM d, y' }} at {{ spot._3_request_start | date:'shortTime'}}
          </h4>
          <h4>
            <strong>End: </strong>{{ spot._4_request_end | date:'EEE, MMMM d, y' }} at {{ spot._4_request_end | date:'shortTime'}}
          </h4>
          <h4>
            <strong>Reserved by:</strong> {{spot.request_user}}
          </h4>
          <span *ngIf="num_garages > 1">
            <h4><strong>Garage: </strong>{{ spot.garage }}</h4>
          </span>
          <h4><strong>Building: </strong>{{ spot.building }}</h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="userpage(spot.request_user)">
            <ion-icon name="person"></ion-icon>  
            Show Requesting<br>User Info
          </button>
          <button ion-button color="danger" (click)="showCancel(spot, i)">
            <ion-icon name="nuclear"></ion-icon>
            CANCEL
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>